<!-- <button (click)="onClick1()">click</button>

{{xyz1}}<br>
{{abc1}}
<br><br>
[]
<input type="text" value="pandu">

<input type="text" [value]="name">


<br><br><br>
<input type="button" value="submit">

<button>click</button>

<br><br><br>
<p style="color: red;">hello this is style binding</p>

<p [style.fontWeight]="'bold'">hello this is style binding</p>

<p [style.color]="mystyle">hello this is style binding</p>

<p [ngStyle]="Group">hello this is style binding</p>

<br><br> -->

<!-- <button type="button" (click)="toggleMe()">click</button>
{{vinay}} -->
<!-- event binding -->
<!-- <button type="button" (click)="onClick()">event binding</button>
<h2>{{name1}}</h2>
<br><br>
<hr>
<!-- //property binding -->
<!-- <input type="text" value="enter name"><br>
<input type="text"[value]="ppt">
<br><br>
<hr> -->
<!--//class binding -->
<!-- <p class="upi">helloo</p>
<h1 [class]="abc">class binding<h1>
    <br>
    <h1 [class.textsize]="required1">class binding<h1>
        <h1 [ngClass]="mystyles">heeellp</h1>
        <hr> -->
<!-- //sTYLE binding -->
<!-- <p style="color: brown;">pandu</p>

        <p [style.fontSize]="'30px'">sTYLE binding 1</p>

        <p [style.color]="mycolor">sTYLE binding 2</p>

        <p [style.color]="required? 'green' : 'gold'">sTYLE binding 3</p>

        <p [ngStyle]="mystyles">sTYLE binding GROUP 4</p>
        <hr> -->
<!-- //Interpolation -->
<!-- 
        <h4>{{xyz}}</h4>
        <hr> -->

<!-- //TWO WAY DATA binding  [()] [(ngModel)]=data-->
<!-- <label>Two way databinding:</label>
        <input placeholder="enter any here" type="text" [(ngModel)]=data>

        <h2>here we can display data by using Interpolation:&nbsp;&nbsp;{{data}}</h2>
        <br> -->
<!-- <app-test></app-test> -->
<!-- <app-pipes></app-pipes> -->
<router-outlet></router-outlet>

<div class="container">
  <h2>Stacked form</h2>
  <ng-container *ngFor="let item of UserData">
    <div style="border: 1px solid black;margin-bottom: 15px;">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
          [(ngModel)]="item.useremail"
          name="email"
        />
      </div>
      <div class="form-group">
        <label for="email">Confirm Email:</label>
        <input
          type="email"
          class="form-control"
          id="email1"
          placeholder="Enter email"
          [(ngModel)]="item.userconfirmemail"
          name="email1"
        />
        <button type="button" class="btn btn-primary" (click)="OnCopy(10)">
          Copy
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="OnEmailCheck(item.useremail,item.userconfirmemail)"
        >
          Check
        </button>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input
          type="text"
          class="form-control"
          id="pwd"
          placeholder="Enter password"
          [(ngModel)]="item.password"
          name="pswd"
        />
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember" />
          Remember me
        </label>
      </div>
    </div>
  </ng-container>
  <button type="submit" class="btn btn-primary" (click)="OnAdd()">Add</button>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
